@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, select, textarea, button,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Montserrat',sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
    text-decoration: none;
}
img {
    border: 0;
}
:focus {
    outline: 0;
}
.clear {
    clear: both;
}


html,body{
    height: 100%;
}

.container{
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.main-wrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
    .header {
        background-color: #1abc9c;
        padding: 70px 0;
        .container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .logo{
                a{
                    display: block;
                    h1{
                        color: #fff;
                        font-size: 30px;
                        font-weight: 700;
                    }
                }
            }
            .menu{
                display: flex;
                a{
                    display: inline-block;
                    padding: 20px;
                    color: #fff;
                    font-size: 14px;
                    transition: 0.25s all;
                    &:hover{
                        color: rgba(0,0,0,.7);
                    }
                    &.active{
                        background-color: rgb(34, 34, 34);
                        border-radius: 5px;
                        color: #fff;
                    }
                }
            }
        }
    }

    .message-title{
        padding-top: 70px;
        .container{
            display: flex;
            justify-content: center;
            .content{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                h2{
                    font-weight: 700;
                    color: #333;
                    font-size: 24px;
                    padding-bottom: 20px;
                }
                p{
                    border-top: 1px solid #ddd;
                    max-width: 75%;
                    color: #333;
                    line-height: 28px;
                    padding: 10px 10px 0;
                    &.contact-text{
                        max-width: 60%;
                    }
                }
                
            }
        }
    }

    .works{
        padding: 70px 0;
        .container{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 70px 30px;
            .work{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                max-width: calc((100% / 3) - 30px);
                .description{
                    margin-top: 5px;
                    color: rgba(#333, .8);
                    font-weight: 700;
                }
                .work-photo{
                    max-width: 100%;
                    box-shadow: 0 0 3px 0 #333;
                    transition: 250ms all;
                    &:hover{
                        transform: scale(1.01);
                    }
                }
                
            }
        }
    }

    .footer{
        padding: 70px 0;
        background-color: #2f2f2f;
        margin-top: auto;
        .container{
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            .bunker, .links, .stanley{
                width: calc(100% / 3);
            }
            h5{
                font-size: 18px;
                padding-bottom: 20px;
                font-weight: 700;
                color: #fff;
            }
            p{
                line-height: 28px;
                color: #fff;
            }
            .bunker{
                padding-right: 250px;
            }
            .links{
                p{
                    display: flex;
                    flex-direction: column;
                    a{
                        color: #1abc9c;
                        font-weight: 700;
                        &:hover{
                            color: rgba(#888, .5);
                        }
                    }
                }
            }
            .stanley{
                padding-right: 70px;
            }
        }
    }

    .about{
        padding: 70px 0;
        background-color: #f2f2f2;
        .container{
            padding: 0 140px;
            .info{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 0 100px;
                .photo{
                    width: 155px;
                    height: 155px;
                    border-radius: 50%;
                }
                h2{
                    font-size: 35px;
                    margin: 30px 0;
                    color: #333;
                    font-weight: 700;
                }
                p{
                    color: #333;
                    font-weight: 500;
                    line-height: 28px;
                    text-align: center;
                    margin-bottom: 25px;
                }
        
            }
        }
    }

    .contact-form{
        padding: 70px 0;
        .container{
            display: flex;
            justify-content: center;
            .form{
                width: 62%;
                form{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    row-gap: 35px;
                    input,textarea{
                        border: 1px solid #ccc;
                        width: 100%;
                        height: 34px;
                        padding: 6px 12px;
                        font-size: 14px;
                        border-radius: 5px;
                        color: #555;
                        box-shadow: 0 0 2px 0 rgba(0,0,0, .2);
                        transition: 200ms box-shadow;
                        &::placeholder{
                            color: rgba(#333, .7);
                        }
                        &:focus{
                            box-shadow: 0 0 6px 0 rgba(38, 115, 216, 0.8);
                        }
                    }
                    textarea{
                        resize: vertical;
                        height: 120px;
                    }
                    .submit-btn{
                        align-self: flex-start;
                        background-color: #5cb85c;
                        border: 1px solid #4cae4c;
                        color: #fff;
                        height: 34px;
                        padding: 6px 12px;
                        border-radius: 4px;
                        cursor: pointer;
                        transition: 250ms background-color;
                        font-size: 14px;
                        
                        &:hover{
                            background-color: #40a340;
                        }
                    }
                }
            }
        }
    }

    .skills{
        padding: 70px 0;
        .container{
            .icons{
                padding-bottom: 70px;
                display: flex;
                column-gap: 30px;
                .box{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    text-align: center;
                    width: 25%;
                    i{
                        font-size: 40px;
                        color: #1abc9c;
                    }
                    p{
                        margin-top: 5px;
                        max-width: 85%;
                        line-height: 28px;
                        color: #333;
                    }
                }
            }

            .about-me{
                display: flex;
                column-gap: 30px;
                .paragraph{
                    width: 50%;
                    h4{
                        font-size: 18px;
                        color: #333;
                        font-weight: 700;
                        margin-bottom: 10px;
                    }
                    p{
                        color: #333;
                        line-height: 28px;
                        
                    }
                }
                
                .skills-bars{
                    width: 50%;
                    h4{
                        font-size: 18px;
                        color: #333;
                        font-weight: 700;
                        margin-bottom: 10px;
                    }
                    .bar{
                        width: 100%;
                        background-color: #f5f5f5;
                        height: 20px;
                        margin-bottom: 20px;
                        
                        border-radius: 5px;
                        position: relative;
                        overflow: hidden;
                        &::before{
                            content: '';
                            width: 60%;
                            height: 20px;
                            background-color: #1abc9c;
                            position: absolute;
                            left: 0;
                            top: 0;
                        }
                    }
                    p{
                        color: #333;
                        font-size: 14px;
                        margin-bottom: 5px;
                    }
                }
            }
        }
    }
}